$dark: #222;
$light: #eee;

body{
    background-color: $dark;
    padding: 10px;
}

.hamburger{
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
}

.hamburger:focus{outline: none;}

@mixin hamburger-line{
    width: 100%;
    height: 4px;
    background-color: $light;
    position: absolute;
}

.hamburger-box{
    width: 35px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner{
    @include hamburger-line;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.hamburger-inner::before,
.hamburger-inner::after{
    @include hamburger-line;
    content: '';
    left: 0;
}

.hamburger-inner::before{
    top: -10px;
}

.hamburger-inner::after{
    top: 10px;
}

.hamburger-active .hamburger-inner{
    background-color: transparent;
}

.hamburger-active .hamburger-inner::before{
    transform: translateY(10px) rotate(45deg);
}

.hamburger-active .hamburger-inner::after{
    transform: translateY(-10px) rotate(-45deg);
}

#clock{
    width: 1200px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    color: $light;
    font-size: 200px;
    text-align: center;
    padding: 25px;
    font-family: 'Kanit', sans-serif;
}

#form{
    width: 400px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#result{
    width: 400px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    color: white;
    font-size: 28px;
    text-align: center;
    font-family: 'Baloo Chettan 2', cursive;
}

input[type=text]{
    width: 380px;
    height: 50px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 28px;
    border-radius: 10px;
    border: none;
    text-align: center;
}

input:focus{outline: none;}

input[type=submit]{
    width: 380px;
    height: 50px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 28px;
    border-radius: 10px;
    border: none;
}

input[type=submit]:hover{background-color: darkgray; cursor: pointer;}