$light: #eef;
$dark: #171717;
$font: 'Ubuntu', monospace;

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: $font;
    margin: 0;
    height: fit-content;
}

.logo{
    width: 100%;
    height: 120px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $light;
    background-color: $dark;

    a{
        text-decoration: none;
        color: $light;
    }
}

.vial{
    transform: scale(0.6);
}

.wrapper{
    width: 80%;
    min-height: 280px;
    margin: 0 auto;
    background-color: #333;
    // background-image: linear-gradient(to right, rgb(49, 49, 49), rgb(80, 80, 80) );
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 5px;
    margin-top: 20px;
    text-shadow: 0 0 15px black;
}

.sidebar{
    width: 18%;
    min-height: 265px;
    border-right: 2px solid #171717;
}

.menu{
    width: 95%;
    min-height: 265px;
}

.list h1{
    cursor: default;
}

.list{
    width: 100%;
    height: 100%;
    list-style: none;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    a{
        text-decoration: none;
        color: white;
    }

    &__item{
        width: 200px;
        height: 40px;
        font-size: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 28px;
        border-radius: 5px;
        transition: background-color .2s;

        &:hover{
            background-color: $dark;
            cursor: pointer;
        }
    }
}

main{
    width: 78%;
    height: fit-content;
    color: white;
    //border: 2px solid black;
}

.main__text{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;

    #hide{
        width: 293px;
        height: 18px;
    }
}

input{
    width: 300px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #111;
    color: white;
    font-family: $font;
    font-size: 18px;
    text-align: center;

    &:focus{
        outline: none;

        &::placeholder{
            color: transparent;
        }
    }

    &::-webkit-search-cancel-button{
        display: none;
    }
}

.main__content{
    display: flex;
    flex-direction: column;
    cursor: default;

    .noresult{
        display: none;
        margin: 80px auto 0 auto;
        font-size: 24px;
    }

    &__item{
        width: 95%;
        min-height: 225px;
        //border-bottom: 4px solid black;
        border-radius: 10px;
        margin-bottom: 10px;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #303030;
        transition: background-color .4s;

        &__image{
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: scale(1.2);
        }

        .h1__text{
            width: fit-content;
            cursor: pointer;

            a{
                color: white;
                text-decoration: none;
            }
        }

        &__info{
            width: 90%;
            //text-shadow: 0 0 15px black;
        }

        .desc{
            width: 75%;
            font-size: 20px;
        }

        @mixin stats{
            font-size: 20px;
            font-weight: 600;
        }

        .toxicity{
            @include stats;
            color: greenyellow;
        }

        .time{
            @include stats;
            color: yellow;
        }

        .charge{
            @include stats;
            color: orange;
        }
    }

    &__item:hover{
        background-color: #212121;
    }
}

.main__content--deep{
    display: flex;
    flex-direction: column;
}

.upper{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;

    .description{
        width: 80%;
        min-height: 25px;
        font-size: 20px;
        margin-right: 40px;
        padding: 10px;
    }

    .image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 175px;
        height: 175px;
        border: 2px solid #171717;
        border-radius: 10px;

        img{
            transform: scale(1.2);
        }
    }
}

.lower{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
}

body::-webkit-scrollbar{
    width: 15px;

    &-track{
        background-color: #101010;
    }

    &-thumb{
        border-radius: 10px;
        background-color: #444;
        box-shadow: inset 0 0 10px black;
    }
}