<!DOCTYPE html>
<html>
    <head>
        <title>{{ pageTitle }}</title>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap" rel="stylesheet">

        <style>
            body{
                background-color: #222;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            p{
                font-family: 'Hachi Maru Pop', cursive;
                font-size: 120px;
                color: #eef;
            }
        </style>
    </head>
    <body>
        <p>{{ pageBody }}</p>
    </body>
</html>