body{
    background-color: #666;
}

li{
    display: inline;
}

li a{
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: black;
}